body {
margin: 0;
padding: 5px;
background-image: linear-gradient(to bottom right, lightblue, orange);
}

section {
display: block;
margin: 10px auto 10px auto;
}


.section-title {
Font-weight: bold;
font-size: 30px !important;
}

.highlight {
text-transform: uppercase;
font-weight: bold;
font-size: 14px;
color: white;
text-shadow: -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black, 1px 1px 1px black;
}

.gold {
color: gold;
}

.bold {
font-weight: bold;
}

.red-heart {
text-shadow: -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black, 1px 1px 1px black;
}

.number {
color: red;
position: absolute;
text-align: center;
font-weight: bold;
margin: -1px 0px 0px 4px;
}

.dice {
  background-color: black;
  padding: 6px;
}

.dice-wide {
  background-color: black;
  padding: 8px;
}

a:link, a:visited {
text-transform: uppercase;
font-weight: bold;
font-size: 14px;
color: white;
text-shadow: -1px -1px 1px black, -1px 1px 1px black, 1px -1px 1px black, 1px 1px 1px black;
text-decoration: none;
}

a:hover, a:active {
color: gold;
}

ul {
list-style: none;
}
